extends email-layout

block content
  .subject
    h2 Welcome to Groovy

  .body
    //- img(src="https://res.cloudinary.com/drnqdd87d/image/upload/q_auto,r_0/a_0/v1604448094/chooselife/shalom-mwenesi-JOx7sRRpqhI-unsplashchooselife-welcome.png", alt="welcome to groovy")

    p Hello #{name.split(' ')[0]}!,

    p Welcome to the groovy app as an #{type}.

    p
      strong ⚠️ Please to activate your account. By clicking on this email link.

    p Pick a subscription plan and setup your business. We have a lot for you to explore.

    p If you didn't request this email, please ignore it.
    p Regards.
    p Groovy Team