extends email-layout

block content
  .subject
    h2 RESENT:Your Company Added you to Choose Life

  .body
    img(src="https://res.cloudinary.com/drnqdd87d/image/upload/q_auto,r_0/a_0/v1604448094/chooselife/shalom-mwenesi-JOx7sRRpqhI-unsplashchooselife-welcome.png", alt="welcome to chooselife")

    p Hello Newest member!,

    p You're welcome.

    p Please change your password and update your profile with you name and other relevant in formation.

    p Please click the button or copy the link below to choose a new password. Please bare in mind that the new password option expires in 3 hr.

    +button(resetLink, 'Choose a new Password ->')

    p
      a(href=`${resetLink}`, target='_blank')= resetLink

    p The password will be used to access your account.

    p Don't forget to store your password safely.

    p If you didn't request this email, please ignore it.
    p Regards.
    p Choose Life Team.