extends email-layout

block content
    .subject
        h2 You confirmed your ChooseLife Email Subscribers Addition

    .body
        img(src="https://res.cloudinary.com/drnqdd87d/image/upload/q_auto,r_0/a_0/v1604448094/chooselife/shalom-mwenesi-JOx7sRRpqhI-unsplashchooselife-welcome.png", alt="welcome to chooselife")

        p Hello!,

        p You're welcome.

        p Your request has been confirmed. Expect our weekly emails.

        p If you didn't request this email, please ignore it.
        p Regards.
        p Choose Life Team.